<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% endcomment %}
</head>

<body>
    <br>
    <br>
    <div class="container w-50 text-center rounded">
        <h1 class="bg-success p-3">TODO LIST</h1>
        <div class="form-group">
            <form action = "{% url 'add' %}" method = 'POST'>
                {% csrf_token %}
                {{form}}
                <input type = "submit" class="btn btn-primary" value = "Submit">
                </form>
        </div>
        
    </div>

    <div class="container w-50 bg-info text-white rounded">
        <br>
        
        {% for todo in todos %}
        
            {% if todo.completed %}
            <div class="row">
                <div class="col-8">
                    <p class=" bg-success rounded p-3 text-decoration-line-through">{{todo.text}}</p>
                </div>
                <div class="col-4">
                    <a href="{% url 'delete' todo.id %}" style="padding-bottom:2" class="btn btn-danger">Delete</a>
                </div>
            </div>
            
            {% else %}
            <div class="row">
                <div class="col-8">
                    <div class="bg-primary rounded p-3">{{todo.text}}</div>
                </div>
                <div class="col-2"><a href="{% url 'completed' todo.id %}" class="btn btn-success">Mark as Completed</a></div>
                <div class="col-2">
                    <a href="{% url 'delete' todo.id %}" style="padding-bottom:2" class="btn btn-danger">Delete</a>
                </div>

            
            {% endif %}
            



        {% empty %}
        <p class="bg-secondary rounded p-3">No Todos to show</p>
        {% endfor %}
        <br>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>